#admissions-au-landing{
    padding-bottom: 0;   
    .landing-hero{
        background-image: url(../images/admissions/admissions-hero.jpg);
    }
    #student-profile{
        + section{
            padding: 0;
            .overlap-row{
                margin-top: 1em;
                @media (min-width: $screen-md-min) {
                    margin-top: 5em;    
                }
            }
        }
    }

    #admission-requirements{
        + section{
            padding: 1em 0 3em;
            @media (min-width: $screen-sm-min) {
                padding: 2em 0 7em;    
            }
        }
    }

    #international-guidelines{
        + section{
            padding: 6em 0 4.5em;
            background-color: $blue;  
            background-image: url(../images/dotted-map-bg.jpg);
            background-size: cover;
            @media (min-width: $screen-sm-min) {
                padding: 8em 0 6.5em;    
            }
            h2, p{
                color: white;
            }
        }
    }
    
    #perfect-fit{
        + section {
            img{
                max-width: 300px;    
                margin: auto;
            }
            .section-heading{
                @media (max-width: $screen-xs-max) {   
                    margin-bottom: 0;    
                }
            }
        }
    }
    
    #apply-and-register{
        + section{
            padding: 1em 0 0;
            margin-bottom: -2em;
            @media (min-width: $screen-sm-min) {
                padding: 3em 0 0;    
            }
            .section-heading{
                font-size: 1.2em;
                margin-bottom: 0;
            }
            .bg-img{
                padding-bottom: 55%;
                background-size: cover;
                background-position: bottom center;
                margin-top: -5em;
                @media (min-width: $screen-lg-min) {
                    margin-top: -16em;    
                }
                @media (min-width: $screen-xxl-min) {
                    margin-top: -23em;    
                }
            }
        }
    }
    
    #sub-nav{
        + .page{
            .lead{
                margin-top: 1.5em;
            }
        }    
    }
}
