#askau-responses {
    .multiple .hideAnswer {
        display: none;
    }
    #irPrint {
        float: right;
        width: auto;
    }
}

#askau-answer{
    ul{
        @include custom-lists(10px, "\f054", 6px);     
    }
    p:first-of-type{
        font-size: 1.5em;
        +h2{
            margin-top: 0.5em;
        }
    }
}