/**
* #.# Default Landing page styles
*/

#landing-intro {
    position: relative;
    padding-bottom: 1em;
    @media (min-width: $screen-sm-min) {
        padding-bottom: 2em;
    }
    a {
        text-decoration: none;
    }
    h1,
    h2 {
        margin: 0 0 0.3em;
    }
    h2 {
        font-size: 1.4em;
    }
}

.landing {
    position: relative;
    #main-content {
        float: none;
    }
    hr {
        padding: 0;
    }
    .lead {
        font-size: 1.2em;
        line-height: 1.6em;
    }
    ul {
        padding: 0;
        list-style: none;
    }
    .center-heading {
        text-align: center;
    }
    section {
        padding: 1.875em 0;
        position: relative;
        @media (min-width: $screen-md-min) {
            padding: 3.75em 0;
        }
    }
    .section-icon {
        display: inline-block;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background: white;
        position: absolute;
        top: 0;
        left: 50%;
        margin: -50px 0 0 -50px;
        text-align: center;
        .icon {
            width: 70px;
            height: 70px;
            margin: 1em -0.1875em 0 0;
        }
    }
}


/**
* #.# Hero image
*/

.mobile-device {
    .landing-hero {
        background-attachment: scroll;
        background-size: cover;
    }
}

.landing-hero {
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-position: center;
    z-index: 1;
    background-attachment: scroll;
    width: 100%;
    @media (min-width: $screen-sm-min) {
        background-attachment: fixed;
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(212, 228, 239, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
    .hero-content {
        position: relative;
        z-index: 99;
        text-align: center;
        display: flex;
        flex-flow: column;
        max-width: 95%;
        margin: auto;
        justify-content: flex-end;
        min-height: 500px;
        @media (min-width: $screen-xs-min) {
            height: calc(100vh - 300px);
            padding: 0;
        }
        .hero-inner {
            font-size: .9em;
            padding-bottom: 1em;
            @media (min-width: $screen-xs-min) {
                padding-bottom: 2em;
            }
            @media (min-width: $screen-sm-min) {
                font-size: 1em;
                padding-bottom: 3em;
            }
            h1,
            h2,
            h3 {
                color: white;
            }
            h2 {
                font-size: 1em;
                @media (min-width: $screen-md-min) {
                    font-size: 1.3em;
                }
            }
            h1 {
                margin: 0;
                font-size: 2.3em;
                margin-bottom: 0.3em;
                font-weight: 600;
                position: relative;
                &::before {
                    content: '';
                    height: 35px;
                    width: 6px;
                    background: $orange;
                    display: inline-block;
                    position: relative;
                    top: 6px;
                    left: -20px;
                    @media (min-width: $screen-md-min) {
                        height: 50px;
                    }
                }
                @media (min-width: $screen-md-min) {
                    font-size: 3.5em;
                }
            }
            .btn-orange {
                margin-top: 20px;
                display: inline-block;
                min-width: 235px;
            }
            h1,
            h2,
            ul li {
                text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            }
            ul {
                margin: 0;
                li {
                    color: white;
                    background: none;
                    a {
                        color: inherit;
                        font-weight: 300;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .hero-btn-group {
        font-size: .95em;
        @media (min-width: $screen-sm-min) {
            font-size: 1em;
        }
        .btn {
            display: inline-block;
            padding-left: .5em;
            padding-right: .5em;
            min-width: 235px;
            margin: .5em;
        }
    }
}


/**
* #.# Sticky Sub Navigation
*/

.sticky-shiv {
    position: relative;
    height: 50px;
    @media (min-width: $screen-sm-min) {
        height: 100px!important;
    }
}

#sub-nav:not(.sticky) {
    #sub-nav-primary {
        margin: auto;
        width: 100%;
        height: 50px;
        @media (min-width: $screen-xs-min) {
            width: 70%;
        }
        @media (min-width: $screen-sm-min) {
            width: 100%;
            height: 100px!important;
            padding: 0 1.5em;
        }
        @media (max-width: $screen-xs-max) {
            display: block;
            #section-jump {
                display: block;
                li {
                    border-bottom: 1px solid $border-color;
                    &:last-child {
                        border-bottom: 0;
                    }
                    a {
                        flex-flow: row;
                        align-items: center;
                    }
                }
            }
        }
        #section-jump {
            margin-top: 20px;
            @media (min-width: $screen-sm-min) {
                margin: 0;
            }
            svg.icon {
                margin: 0 1em 0;
                width: 35px;
                height: 35px;
                @media (min-width: $screen-sm-min) {
                    width: 50px;
                    height: 50px;
                    margin: 0 auto 0.5em;
                }
            }
        }
    }
}

#sub-nav {
    padding: 0;
    height: inherit;
    transform: translateY(0);
    transition: transform 0.6s ease-out;
    background: rgba(white, 0);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.07);
    .sub-nav-inner{
        display: flex;
    }
    #sub-nav-right{
        margin-top: -1.1em;   
    }
    /* Apply Button */
    .btn {
        height: 40px;
        font-size: 0.9em;
        padding: 0 1.5em;
        align-self: center;
        @media (min-width: $screen-sm-min) {
            margin: 0 2em 0;
        }
        @media (min-width: $screen-xxl-min) {
            margin: 0 2.5em 0 1em;
        }
    }
    &.no-shadow {
        box-shadow: none;
    }
    &.sub-nav-centered {
        #section-nav{
            margin: 0 auto;
        }
    }
    #sub-nav-primary {
        position: relative;
        width: 100%;
        display: flex;
        @include reset-list();
        flex-shrink: 1;
        #section-nav {
            height: 100%;
        }
        #section-jump {
            padding: 0;
            font-size: .9em;
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            height: 100%;
            svg.icon {
                flex-shrink: 0;
            }
            >li {
                position: relative;
                a {
                    text-decoration: none;
                    padding: 0 1.5em;
                    font-weight: 600;
                    width: 100%;
                    height: 50px;
                    display: flex;
                    flex-flow: column;
                    text-align: center;
                    font-size: 0.9em;
                    @media (min-width: $screen-sm-min) {
                        justify-content: center;
                        height: 100%
                    }
                    @media (min-width: $screen-lg-min) {
                        font-size: 1em;
                    }
                    @media (min-width: $screen-xl-min) {
                        padding: 0 2em;
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        text-decoration: underline;
                        color: $blue;
                        @media (min-width: $screen-sm-min) {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    #sub-nav-left {
        display: none;
    }
    #sub-nav-right {
        display: none;
        button {
            span {
                display: none;
                @media (min-width: $screen-xl-min) {
                    display: inline;
                }
            }
        }
    }
    //when navigation is sticky
    &.sticky {
        top: $header-height-xs;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 999;
        margin-top: 0;
        background: rgba(white, 1);
        transform: translateY(-100%);
        opacity: 0;
        position: fixed;
        border-bottom: 0;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.20);
        height: 50px!important;
        @media (min-width: $screen-xs-min) {
            height: 60px!important;
            top: $header-height-sm;
        }
        @media (min-width: $screen-sm-min) {
            top: $header-height-md;
        }
        #sub-nav-primary {
            flex-wrap: nowrap;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            -webkit-overflow-scrolling: touch;
            height: 67px!important;
            @media (min-width: $screen-xs-min) {
                height: 77px!important;
            }
            nav,
            ol,
            li,
            a {
                height: 50px!important;
                @media (min-width: $screen-xs-min) {
                    height: 60px!important;
                }
            }
            #section-jump {
                svg.icon {
                    width: 30px;
                    height: 30px;
                    margin: 0 1em 0 0;
                }
                >li {
                    flex: 0 0 auto;
                    &.current {
                        a {
                            background: $gray-light;
                        }
                    }
                    a {
                        align-items: center;
                        flex-flow: row;
                        text-align: left;
                    }
                }
            }
        }
        #sub-nav-right {
            flex-shrink: 0;
            display: flex;
            @media (max-width: $screen-md-max) {
                display: none;
            }
        }
        .applyBtnSlide {
            i {
                top: 0;
            }
            @media (min-width: $screen-md-min) {
                -webkit-animation-name: fadeInRight;
                animation-name: fadeInRight;
                -webkit-animation-delay: .3s;
                animation-delay: .3s;
            }
        }
        &.slideDown {
            opacity: 1;
            transform: translateY(0%);
            transition: transform 0.6s ease-out;
        }
    }
}

.section-wrap {
    position: relative;
}

.more {
    .morecontent {
        display: none;
    }
    .readmore {
        margin-top: .5em;
        svg {
            width: 20px;
            height: 20px;
            fill: $orange;
            margin-right: .5em;
            position: relative;
            vertical-align: middle;
            top: -2px;
        }
    }
    a:link,
    a:visited,
    a:hover {
        color: $blue;
    }
    .readmore:link,
    .readmore:visited,
    .readmore:hover {
        display: block;
    }
}

.white-block {
    background: white;
    padding: 2em;
    border-radius: 3px;
}

/**
* #.# Enquire Section
*/

#enquire {
    +section {
        //background: lighten($gray-light, 3.5%);
        background-image: url('../images/program-landing-lead-gen-bg.jpg');
        background-size: cover;
        border-bottom: 1px solid $border-color;
        position: relative;
        padding: 3.5em 0;
        @media (min-width: $screen-sm-min) {
            padding: 5.5em 0;    
        }
        @media (min-width: $screen-lg-min) {
            background-attachment: fixed;
        }
        .lead-gen-wrap{;
            border: 0;
            max-width: 850px;
            margin: 0 1em;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.75);
            @media (min-width: $screen-sm-min) {
                margin: auto;   
            }
            .lead-gen-form-wrap{
                padding-left: 0;   
            }
            .lead-gen-img{
                display: none;
            }
            #lead-gen{
                .input-group{
                    input{
                        box-shadow: none;
                        background: white;
                    }
                }
                .group-title{
                }
            }
            .radio-group-inner{
                background: white;
            }
            .btn-orange{
                width: 100%;
                display: block;
            }
        }
    }
}