/**
* #.# Syllabus styles, used on main website for undergraduate and graduate syllabus pages
*/

#main-content #main .syllabus-back-print {
    display: none;
}

#main-content .syllabus {
    > hr:nth-child(1){
        display: none;
    }
    .section:first-of-type hr{
        display: none;
        +h2{
            margin-top: 0.5em;
        }
    }
    #course-overview{
        clear: both;
        hr{
            display: none;
        }
    }
    p {
        margin-bottom: 1em;
    } 
    p.closed {
        color: #ff0000;
        font-weight: bold;
    }
    p.credits {
        font-size: 80%;
        padding: 0.5em;
        margin-bottom: 0;
    }
    p.institution {
        color: $orange;
        font-weight: bold;
    }
    h2 {
        .revision {
            font-weight: normal;
        }
    }
    .label{
        font-weight: 600;
    }
    h2.course-title {
        border-bottom: 0;
        font-weight: bold;
        font-size: 1.4em;
        margin-bottom: 1.4em;
        margin: 1em .2em 1.4em;
    }
    #course-header {
        background: $gray-light;
        padding: 1em;
        margin-bottom: 2em;
        width: 100%;
        @media (min-width: $screen-md-min) {
            display: flex;
            width: 65%; 
            float: left;
        }
        #course-cover {
            img {
                padding: 0.25em;
                background: #FFFFFF;
                max-width: 175px;
                height: auto;
            }
        }
        #course-details, #course-notes {
            display: none;
            @media (min-width: $screen-md-min) {
                margin-left: 1.5em;
            }
        }
    }
    #related-links,
    #graduate-related-links {
        width: 100%;
        margin-bottom: 2em;
        @media (min-width: $screen-md-min) {
            width: 35%; 
            float: right;
            padding-left: 1.5em;
            margin-bottom: 0;
        }
        #calls {
            width: 100%;
            margin-top: 0;
            margin-bottom: 1em;
            .call-to-action{
                width: 100%;
                a {
                    display: block;
                    width: 100%;
                }
                img {
                    display: none;
                }
            }
        }
    }
    #course-body {

        .reference p {
            padding: 0 0 0 20px;
            text-align: left;
            text-indent: -20px;
        }
        #course-revision-date {
            margin-top: 2em;
            p {
                text-align: left;
                font-style: italic; 
                font-size: 0.9em;
            }
        }
        #course-disclaimer{
            p{
                padding: 1.5em;
            }
        }
    }
}

.graduate{
    #calculate-fees, #take-a-course{
        display: none;
    }   
}