#itss {
    display: none;
}

#help-support{
    &:hover{
        span{
            &:hover{
                color: $orange;
            }            
        }
    }
    span{
        text-decoration: underline;
        &:hover{
            color: $orange;
        }
    }
}

.its-status {
    position: relative;
    padding: 1em 1.5em;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    @media (min-width: $screen-md-min) {
        flex-flow: row;
        text-align: left;
    }
    .fa{
        font-size: 1.5em;
        display: block;
        margin-bottom: 0.2em;
        @media (min-width: $screen-md-min) {
            position: absolute;
            top: 50%;
            margin-top: -12px;
            left: 1em; 
            display: inline-block;
        }
    }
    p{
        color: white;
        width: 100%;
        margin: 0;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.35);
        @media (min-width: $screen-md-min) {
            padding-left: 2.4em;    
        }
    }
    &.optimal{
        background-color: $brand-success;
    }
    &.caution{
        background-color: $brand-warning;    
    }
    &.warning{
        background-color: $brand-danger;       
    }
    &.potential-issue{
        background-image: $orange;
    }
    .itss-status-link{
        text-decoration: none;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.35);
        color: white;
        display: inline-block;
        margin-left: 0.5em;
        font-size: 0.9em;
        &:hover, &:active, &:focus{
            color: white;
        }
    }
}

.office-status{
    strong{
        .fa{
            margin-right: 0.2em;    
        }    
    }
}

/* Social Media */
#primary-social{
    margin-top: 2em;
    text-align: center;
    .row{
        margin-top: 0;
        margin-bottom: 0;
    }
    a{
        text-decoration: none;
    }
    p{
        margin-bottom: 1.5em;
        @media (min-width: $screen-md-min) {
            margin-bottom: 2em;
        }
    }
}
#secondary-social{
    ul{
        padding-left: 0;
        margin: 0;
        li{
            margin: 0!important;
            padding: 0!important;
            display: inline-block;
            &::before{
                display: none!important;
            }
            a{
                &::after{
                    display: none!important;
                }
            }
        }
    }
}

 ul,
    ol {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            padding: 0;
            &::before, 
            &::after {
                display: none;
            }
            a {
                &::before, 
                &::after {
                    display: none;  
                }
            }
        }
    }