#breadcrumb{
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    @media (min-width: $screen-xxl-min) {
        padding: 0 2.5rem;
    } 
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 13px 0;
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        li{
            display: inline-block;
            font-size: 0.7em;
            @media (min-width: $screen-sm-min) {
                font-size: 0.9em;
            }
            a{
                text-decoration: none;
                padding: 0 0.5em;
                &.current{
                    font-weight: bold;
                }
            }
        }
    }
    &.desktop-breadcrumb{
        @media (min-width: $screen-sm-min) {
            display: none!important;    
        }
    }
}