/**
* #.# Fancybox 3 Branding Styles
*
* Overrides default styling
*/

.fancybox-container {
    z-index: 999999;
    h2, h3, h4{
        margin-top: 0;
    }
    .fancybox-bg {
        background: #29292e;
    }
    .fancybox-navigation button {
        &:hover {
            &::before {
                background: rgba($orange, 1);
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 30px;
            right: 10px;
            width: 40px;
            height: 40px;
            background: rgba($orange, 0.85);
        }
    } 
    .fancybox-toolbar {
        background: $blue;
        .fancybox-button {
            padding: 0;
        }
        svg {
            width: 1.5em!important;
            height: 2em!important;
            margin: auto;
        }
    }
    .fancybox-slide--inline{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        left: 50%;
        margin-left: -200px;
    }
}
.fancybox-button--arrow_right,
.fancybox-button--arrow_left {
    svg {
        width: 1.5em!important;
        height: 2em!important;
    }
}

.modal{
    max-width: 500px;
    h1, h2, h3, h4, h5, h6{
        margin-top: 0;
    }
}

.fancybox-slide--iframe .fancybox-content {
	max-width  : 70%;
	max-height : 70%;
	margin: 0;
    height: 100%!important;
    width: 100%!important;
}

.fancybox-button{
    background: $orange;
}

.compensate-for-scrollbar{
    margin-right: 0!important;
}

//Ask AU popup
.fancybox-error, .fancybox-iframe, .fancybox-slide--iframe .fancybox-content {
    background: transparent;
}