/**
* #.# Programs & Courses Favorites
*
*/
.active-favs{
    .tooltip .tooltiptext{
        display: none!important;
    }
}

.cp-fav-container{
    &.empty:not(.favs-open){
        .cp-fav-trigger, .cp-fav{
            transform: translateX(0px) translateY(200px);
        }
    }
    &:before {
        /* dark bg layer visible when the favs is open */
        content: '';
        position: fixed;
        z-index: 10006;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .4s, visibility .4s;
        transition: opacity .4s, visibility .4s;
    }
}

.cp-fav-container.favs-open::before {
    opacity: 1;
    visibility: visible;
}

body{
    &.cd-is-visible{
        .cp-fav-trigger,
        .cp-fav {
            position: fixed;
            right: 65px;
        }
    }  
    &.nav-panel-visible{
        .cp-fav-trigger {
            z-index: 9;    
        }
    }
}

.cp-fav-trigger,
.cp-fav {
    position: fixed;
    bottom: 15px;
    right: 20px;
}

.cp-fav-trigger {
    z-index: 99998;
    height: 50px;
    width: 50px;
    text-align: center;
    color: $orange;
    border: 1px solid $border-color;
    background: white;
    font-size: 1.5em;
    transition: all 0.4s ease-out;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    @media (min-width: $screen-lg-min){
        height: 65px;
        width: 65px;
        font-size: 2.1em;
    }
    &:focus, &:active{
        outline : 0;
        background: darken($blue, 5%);
        color: white;
        border: 1px solid darken($blue, 5%);
        box-shadow: none;
        i{
            color: white;
        }
        .fav-close:before, .fav-close:after{
            background: white;    
        }
        .count{
            background: $orange;
        }
    }
    i{
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 1px;
        margin-top: -12px;
        transition: all 0.4s ease-out;
        color: $orange;
        @media (min-width: $screen-lg-min){
            margin-top: -15px;
        }
    }
    .fa-star-o{
        opacity: 1;
    }
    .fav-close {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -15px;
        margin-top: -10px;
        width: 22px;
        height: 22px;
        opacity: 0;
        transition: all 0.4s ease-out;
        transform: rotate(90deg);
        &:before, &:after{
            position: absolute;
            left: 15px;
            content: ' ';
            height: 23px;
            width: 3px;
            background-color: #333;
        }
        &:before{
            transform: rotate(45deg);
        }
        &:after{
            transform: rotate(-45deg);
        }
    }
    .count{
        /* number of items indicator */
        position: absolute;
        top: -8px;
        right: -8px;
        height: 18px;
        width: 18px;
        background: $blue;
        color: white;
        font-size: .39em;
        border-radius: 50%;
        text-indent: 0;
        text-align: center;
        line-height: 18px;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        transform: scale(1);
        @media (min-width: $screen-lg-min){
            font-size: .3em;    
        }
    }
}

.cp-fav {
    /* favs content */
    z-index: 99999;
    width: 90%;
    max-width: 235px;
    height: 350px;
    max-height: 90%;
    pointer-events: none;
    transition: all 0.4s ease-out;
    visibility: hidden;
    @media (min-width: $screen-xs-min){
        max-width: 375px;    
    }
    .wrapper{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        overflow: hidden;
        height: 50px;
        width: 50px;
        transition: all 0.3s ease-in-out;
        transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
        background: #ffffff;
        pointer-events: auto;
        header{
            position: absolute;
            z-index: 2;
            left: 0;
            width: 100%;
            top: 0;
            padding: 0 1.4em;
            height: 40px;
            line-height: 40px;
            background-color: #ffffff;
            transition: opacity .2s 0s;
            border-bottom: 1px solid #e6e6e6;
        }
        header, .body, footer{
            transition: opacity .2s;
            opacity: 0;
        }
        #cp-fav-list{
            .fav-item{
                margin-bottom: 0.5em;
                padding: 0 3em 0.5em 0;
                border-bottom: 1px solid $border-color;
                position: relative;
                transition: all 0.4s ease-out;
                opacity: 0;
                max-height: 0;
                background: white;
                background-image: none;
                &::before{
                    display: none;
                }
                h3{
                    color: $text-color;
                    font-size: .8em;
                    font-weight: 400;
                    margin: 0;
                    @media (min-width: $screen-xs-min){
                        font-size: .9em;    
                    }
                    + p{
                        font-size: .9em;
                        color: $gray-darker;
                        margin: 0;
                    }
                }
                &.in-list{
                    opacity: 1;
                    max-height: 200px;
                    transition: all 0.4s ease-out;
                }
                a{
                    color: $orange;
                    text-decoration: none;
                    display: block;
                    margin-top: 5px;
                    font-size: .8em;
                    font-weight: bold;
                    &:hover, &:focus, &:active{
                        color: $blue;
                    }
                    &::after{
                        display: none!important;
                    }
                }
                .cp-area-tags{
                    li{
                        display: inline-block;
                    }
                }
                &.au-program{
                    display: none;
                }
            }
        }
        .no-favs{
            padding: .9375em 1.875em;
            text-align: center;
            position: absolute;
            width: 100%;
            .no-fav-type{
                text-transform: lowercase;
            }
        }
        .body{
            position: relative;
            z-index: 1;
            height: calc(100% - 104px);
            padding: 1.25em 0 0;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            transition: opacity .2s;
            overflow-x: hidden!important;
            @media (min-width: $screen-lg-min){
                height: calc(100% - 119px);    
            }
            > ul{
                overflow: hidden;
                padding: 0 1.5em 50px;
                position: relative;
                margin: 0;
                list-style: none;
            }
            .scroll-scrolly_visible{
                > ul{
                    padding: 0 30px 50px 20px;
                }
            }
        }
        footer{
            position: absolute;
            bottom: 0;
            width: 100%;
            background: $blue;
            border-top: 1px solid $blue;
            height: 50px;
            padding: 0 20px;
            display: flex;
            flex-flow: row wrap;
            align-content: center;
            align-items: center;
            @media (min-width: $screen-lg-min){
                height: 65px;    
            }
            h2{
                color: white;
                font-size: 1.3em;
                margin: -3px 0 0;
            }
        }
    }
    .remove-fav{
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -14px;
        text-align: center;
        cursor: pointer;
        background: none;
        border: 0;
        padding: 0;
        &:hover, &:focus, &:active{
            outline: 0;
            background: none;
            svg{
                fill: $orange;
            }
        }
        .icon{
            width: 20px;
            height: 20px;
            fill: darken($gray-light, 35%);
        }
    }
}

/**
* #.# Programs & Courses Favorites open state
*
* Styles for when the user opens their favorite list
*/
.favs-open{
    .cp-fav{
        visibility: visible;
        .wrapper{
            height: 100%;
            width: 100%;
        }
        header, .body, footer{
            opacity: 1;
            transition: opacity .2s;
        }
    }
    .cp-fav-trigger{
        box-shadow: none;
        .fa-star-o{
            opacity: 0;
        }
        .fav-close{
            opacity: 1;
            transform: rotate(0deg);
        }
        .count{
            opacity: 0;
            transform: scale(.1);
        }
    }
}

/**
* #.# Favorites tabs
*
* Styles for tabs in favorites list that user can switch between
*/
.cp-fav-tabs{
    border-bottom: 1px solid $border-color;
    button{
        background: none;
        border: 0;
        display: block;
        width: 50%;
        float: left;
        color: $text-color;
        background: $gray-light;
        padding: .9375em 0;
        position: relative;
        cursor: pointer;  
        font-weight: 600; 
        border-radius: 0;
        &:focus, &:active, &:hover{
            box-shadow: none;
            outline-style: none;  
            background: $blue;
            color: white;
        }
        &:first-of-type{ 
            border-right: 1px solid $border-color;
        }
        &.active{
            background: white;
            &:focus, &:active, &:hover{
                background: white;
                color: $blue;
            }
            span{
                &:before{
                    content:'';
                    position: absolute;
                    background: white;
                    width: 100%;
                    height: 5px;
                    bottom: -1px;
                    left: 0;
                }
            }
        }
    }
}

/**
* #.# Add to favorites Notifications
*
*/
.cp-fav-notice{
    position: fixed;
    z-index: 10005;
    bottom: 20px;
    background: $blue;
    color: white;
    padding: 15px;
    font-size: .8em;
    right: 5%;
    margin-right: 70px;
    width: 300px;
    transition: all 0.6s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transform: translateX(200%) translateY(0);
    display: none;
    opacity: 0;
    @media (min-width: $screen-sm-min){
        display: block;     
    }    
    &.notice-showing{
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
    div{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: -15px;
            left: -15px;
            bottom: -15px;
            width: 35px;
            background: darken($blue, 5%);
        }
    }
    i{
        position: absolute;
        top: 50%;
        left: -4px;
        font-size: 1.3em;
        margin-top: -9px;
        
    }
    p{
        padding-left: 35px;
        margin: 0;
        color: white;
    }
}

/**
* #.# Add to favorites Tooltip
*
*/
.tooltip {
    position: relative;
    display: inline-block;
	font-size: .7em;
	&:hover{
		.tooltiptext{
			visibility: visible;
		}
	}
}
.add-to-favorites:hover{
	.tooltiptext{
        @media (min-width: $screen-md-min){
           visibility: visible;
        }
	}
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: $blue-tertiary;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 999;
	top: -30px;
	left: 50%;
	margin-left: -50px;
}
