.msg {
    position: relative;
    padding: 1em 1.25em 1em 4.5em;
    display: block;
    width: 100%;
    margin: .75em 0 2.5em;
    color: white;
    text-decoration: none!important;    
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    h3,
    h4,
    h5 {
        font-size: 1.3rem;
        margin: .0 0 .6em;
        margin-top: -0.1em;
    }
    p,
    ul,
    span {
        line-height: 1.5em;
        display: block;
    }
    h3,
    h4,
    li,
    p,
    a,
    span {
        color: white;
        margin: 0;
        padding: 0;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);
    }
    i,em, span {
        position: absolute;
        top: 50%;
        margin-top: -11px;
        left: 16px;
        color: white;
        font-size: 1.4em; 
        line-height: 1em;
        font-style: normal;
    }
    &:before {
        content: '';
        position: absolute;
        background: transparent;
        height: 100%;
        width: 50px;
        left: 0;
        top: 0;
    }
    &.info,
    &.deadline {
        background: $brand-info;
        &:before {
            background: darken($brand-info, 8%);
        }
    }
    &.error {
        background: $brand-danger;
        &:before {
            background: darken($brand-danger, 8%);
        }
    }
    &.success {
        background: $brand-success;
        &:before {
            background: darken($brand-success, 8%);
        }
    }
    &.warning {
        background: $brand-warning;
        &:before {
            background: darken($brand-warning, 8%);
        }
    }
    +.content-testimonial {
        margin-top: 3.1em;
    }
    ul{
        li{
            &::before{
                color: white!important;
            }
        }
    }
}

#main-content {
    .msg {
        margin: 1.875em 0;
        p {
            font-size: 1em;
        }
    }
}