.owl-theme {
    .owl-stage {
        text-align: center;
    }
    .owl-item {
        float: left;
        position: relative;
    }
    .owl-dots {
        .owl-dot {
            span {
                width: 15px;
                height: 15px;
            }
            &.active {
                span {
                    background: $orange;
                }
            }
        }
    }
    .owl-nav {
        .owl-prev, .owl-next {
            font-size: 1.1em;
            padding: 0.1em 1.3em!important; 
            background: $gray-medium;
            &:hover, &:active{
                background: $orange;    
            }
        }
    }
    &.owl-carousel-with-info {
        .item {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 260px;
            h4 {
                position: absolute;
                margin: 0;
                padding: 0.8em 1.5em;
                width: 100%;
                bottom: 0;
                background: $blue;
                color: white;
                font-size: 1em;
            }
        }
        .owl-item{
            margin-bottom: 2em;
            &:hover{
                cursor: pointer;
            }
            &.center {
                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    bottom: -10px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid $blue;
                    margin-left: -5px;
                }
            }
        }
    }
}