.owl-theme{
    .owl-dots{
        .owl-dot{
            span{
                width: 15px;
                height: 15px;
            }
            &.active{
                span{
                    background: $orange;
                }
            }
        }
    }
}