.au-panel{
    margin: 1em 0;
    background: $gray-light;
    padding: 0.75em;
    .icon{
        width: 135px;
        height: 135px;
    }
    @media (min-width: $screen-xs-min) {
        padding: 1.5em;    
    }
    .panel-heading{
        background: $blue-secondary;
        padding: 1.5em 1em;
        text-align: center;
        h2, h3, h4{
            color: white;
            margin: 0;
            font-size: 1.35rem;
        }
    }
    .panel-body{
        padding: 2em 1.5em;
        background: white;
        position: relative;
        height: calc(100% - 4.8em);
        @media (min-width: $screen-xs-min) {
            height: calc(100% - 5em);
        }
        p{
            color: $text-color;
            &:first-of-type{
                margin-top: 0;
            }
        }
    }
    >a{
        text-decoration: none;
        display: block;
        position: relative;
        background: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
        transition: all 0.2s ease-in;
        transform:  scale(1);
        &:hover, &:focus, &:active{
            color: inherit;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
            transform: scale(1.02);
            .btn{
                color: $orange;
            }
        }
        .btn{
            display: inline-block; 
            padding-bottom: 0;
        }
    }    
}
