/**
* #.# Search forms
*
*/
.search-form {
    width: 100%;
    margin-top: 1em;
    height: 3em;
    display: flex;
    align-items: center;
    position: relative;
    &::before {
        content: '\f002';
        font-family: FontAwesome;
        position: absolute;
        right: 36px;
        top: 50%;
        margin-top: -12px;
        z-index: 9;
        color: white;
        font-size: 1.1em;
    }
    .search-field {
        background: $gray-lighter;
        border: 1px solid $border-color;
        border-right: 0;
        margin: 0;
        font-size: 1.2em;
        padding: 0.5em 3em 0.5em 0.5em;
        width: 100%;
        height: 50px;
    }
    .button {
        flex-grow: 0;
        width: 100px;
        height: 50px;
        background: $orange;
        color: white;
        position: relative;
        &:hover,
        &:focus {
            background: darken ($orange, 10%);
        }
    }
}
