/**
* #.# Search forms
*
*/
.search-form {
    width: 100%;
    margin-top: 1em;
    align-items: center;
    position: relative;
    .search-field {
        background: $gray-lighter;
        border: 1px solid $border-color;
        border-right: 0;
        margin: 0;
        font-size: 1.2em;
        width: 100%;
        height: 70px;
        padding: 0.5em 7em 0.5em 1em;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        @media (min-width: $screen-sm-min) {  
            padding: 0.5em 6em 0.5em 1em;
        }
    }
    .button {
        flex-grow: 0;
        width: 125px;
        height: 70px;
        background: $orange;
        top: 0;
        right: -1px;
        position: absolute;
        border: 0;
        color: white;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        @media (min-width: $screen-sm-min) {
            width: 125px;    
        }
        &:hover,
        &:focus {
            background: darken($orange, 10%);
        }
    }
    &.ask-au{
        &::before{
            display: none;
        }
    }
}
