/**
* #.# Default Table styles
*
*/

.table-wrap {
    max-width: 100%;
    overflow: auto;
    padding: 3px;
}

table {
    margin-top: 0.4em;
    margin-bottom: 1em;
    @include full-width;
    cellspacing: 0;
    border-spacing: 0;
    border-collapse: collapse;
    &.no-striping{
        tbody{
            border: 1px solid $border-color;
            border-top: 0;
            tr{
                &:nth-child(odd){
                    background: white;
                }
            }
        }
    }
    th, td{
        text-align: left;
        padding: 1em;
    }
    thead{
        th{
            background: $blue-secondary;
            border: 1px solid $blue-secondary;
            border-bottom: 0;
            color: white;
        }
    }
    tbody{
        border: 1px solid $border-color;
        border-bottom: 0;
        tr{
            &:nth-child(odd){
                background: $gray-lighter;
            }
        }
        th{
            background: $blue-secondary;
            color: white;
            border-color: lighten($blue-secondary, 10%);
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }
        td {
            border-bottom: 1px solid $border-color;
        }
        th[scope=row] {
            background: $gray-light;
            color: $text-color;
            border-bottom: 1px solid $border-color;
        }
    }
    tr{
        &:first-child{
            td{
                border-top: 0;
            }
        }
    }
}
