/**
* #.# Content Testimonial
*
* This testimonial is seen in the multicolumn layouts
*/
.content-testimonial{
    position: relative;
    min-height: 200px;
    padding: 2.5em 0;
    margin: 1.875em 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    @media (min-width: $screen-md-min) {
        padding: 3.75em 0;    
    }
    &.student{
        .photo{
            border-radius: 50%;  
            background-size: cover;
        }
    }
    &.no-photo{
        blockquote{
            padding-left: 2.5em;
            padding-right: 1.25em;
        }
    }
    .photo{
        width: 180px;
        height: 180px;
        margin: 0 auto 2em;
        background-position: center;
        @media (min-width: $screen-md-min) {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -90px;          
        }
    }
    blockquote{
        position: relative;
        color: $text-color;
        margin: 0;
        text-align: center;
        @media (min-width: $screen-md-min) {
            padding-left: 260px;    
            text-align: left;
        }
        &::before{
            content: '';
            position: absolute;
            width: 80px;
            height: 80px;
            background: url(../images/quote-bg.png) no-repeat;
            background-size: contain;
            margin: -35px 0 0 0;   
            left: 0;
            @media (min-width: $screen-md-min) {
                margin: -35px 0 0 -35px;   
                left: auto;
            }
        }
        .pull-quote, .attribution{
            display: block;
        }
        .pull-quote{
            font-size: 1.2em;
            color: darken($orange, 4%);
            @media (min-width: $screen-sm-min) {
                font-size: 1.5em;    
            }
        }
        .attribution{
            display: block;
            margin-top: 1.1em;
            strong{
                display: block;
                font-size: 1.1em;
            }
        }
        a{
            display: block;
            maring-top: .625em;
        }
    }
}

/**
* #.# Program Testimonial
*
* This testimonial is seen in the program landing pages
*/
.program-testimonial{
    background-size: cover;
    background-position: center;
    padding: 20em 0 0; 
    position: relative;
    margin-bottom: 5em;
    @media (min-width: $screen-md-min) {
        padding: 2em 0 17em;  
        background-position: center right;
    }
    blockquote{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        color: $text-color;
        margin: 0;
        background: rgba(255, 255, 255, 0.8);
        padding: 1.5em;
        @media (min-width: $screen-md-min) {
            max-width: 45%;    
            padding-left: 2em; 
            background: rgba(255, 255, 255, 0.6);
        }
        @media (min-width: $screen-lg-min) {
            padding-left: 8em;      
        }
        &::before{
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            background: url(../images/quote-bg-orange.png) no-repeat;
            background-size: contain;
            top: 1.5em;
            left: auto;
        }
        div{
            padding-left: 70px;
        }
        .pull-quote, .attribution{
            display: block;
        }
        .pull-quote{
            font-size: 1.1em;
            color: $blue;
            @media (min-width: $screen-sm-min) {
                font-size: 1.3em;    
            }
        }
        .attribution{
            display: block;
            margin-top: 1.1em;
            color: $blue;
            strong{
                display: block;
                font-size: 1.1em;
            }
        }
    }
}

