.able-vid-trigger{
    display: block;
    padding: .5em 0;
}

.able-vid-lightbox {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 99999;
    &.shown{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }
    .able-vid-lightbox-inner{
        width: 90%;
        @media (min-width: $screen-sm-min) {
            width: 50%;
        }
    }
}


