#anchor-dropdown-trigger{
    display: inline-block;
    border: 1px solid $border-color;
    border-radius: 3px; 
    background: $gray-light;
    padding: 0.8em 0.8em;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    &:hover, &:focus{
        background: darken($gray-light, 5%);
    }
    .fa-list, span{
        float: left;
    }
    .fa-list{
        margin-top: 0.3em;
    }
    .fa{
        color: lighten($text-color, 15%);
        font-weight: 400;
    }
    .fa-angle-up{
        position: absolute;
        right: 1em;
        top: 50%;
        margin-top: -6px;
        transform: rotate(-180deg);
    }
    &.open{
        border: 1px solid $blue-secondary;
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background: $blue-secondary;
        color: white; 
        .fa{
            color: white;
            opacity: 1;
        }
        .fa-angle-up{
            transform: rotate(-180deg);
        }
    }
    span{
        display: inline-block;
        padding: 0 2em 0 0.6em;
        vertical-align: middle;
    }
}

#anchor-dropdown{
    display: none;
    padding: 2em;
    border: 1px solid $border-color;
    border-top: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: white;
    margin-bottom: 1em;
    margin-top: -5px;
    +h1, +h2, +h3{
        margin-top: 0.5em;
    }
    ul{
        margin: 0;
    }
    >ul {
        >li{
            font-weight: 600;
            &:first-of-type{
                margin-top: 0;
            }
            ul{
                li{
                    font-weight: 400;
                }
            }
        }
    }
}