/**
* #.# Multi-Level Accordion Menu
*
* A simple CSS accordion menu with support for sub level items. Inspired by Codyhouse.co
*/

//main sidebar navigation
#main-navigation-container {
    left: 0;
    background: white; 
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.1s all ease-in;
    height: 100vh;
    display: none;
    z-index: 99994;
    @media (min-width: $screen-sm-min) {
        display: block;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        margin-right: 4.5%;    
        padding-top: 130px;
        width: 250px;
    }
    @media (min-width: $screen-md-min) {
        width: 300px;
    }
    @media (min-width: $screen-xxl-min) {
        padding-top: 150px;
    }
    &.sticky{
        @media (min-width: $screen-sm-min) {
            padding-top: 90px;
        }
    }
    &.at-top{
        @media (min-width: $screen-sm-min) {
            padding-top: 130px;
        }
        @media (min-width: $screen-xxl-min) {
            padding-top: 150px;
        }
    }
    #main-navigation-inner {
        position: relative;
        z-index: 9;
        background: white;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
        ul{
            width: 100%;
        }
        @media (min-width: $screen-sm-min) {
            width: 250px;
        }
        @media (min-width: $screen-md-min) {
            width: 300px; 
        }
    }
}

/**
* #.# Multi-Level Accordion Menu
*
* A simple CSS accordion menu with support for sub level items. Inspired by Codyhouse.co
*/

#sidebar-nav {
    padding-bottom: 0.3em;
    +#contextual{
        padding-top: 1em;
        &:before{
            content: '';
            height: 1px;
            background: $border-color;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .au-accordion-menu {
        padding-left: 0;
        list-style: none;
        text-align: left;
        margin: 0;
        //default fo all list items
        :not(.current) {
            &::after{
                display: none!important;
            }
        }
        a {
            text-decoration: none;
            padding: 0.5rem 0;
            display: block;
        }
        li{
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
            &::before{
                display: none!important;
            }
            a{
                font-weight: 400;
                line-height: 1.4em;
                &::after{
                    padding: 0;
                    top: auto;
                }
            }
        }

        //all levels
        >li {
            position: relative;
            display: block;
            &:first-child{
                a {
                    /* Home icon */
                    &:after {
                        content: '\f015';
                        font-family: FontAwesome;
                        position: absolute;
                        right: 22px;
                        font-size: 1.4rem;
                        color: darken($gray-light, 25%);
                        top: 50%;
                        margin-top: -11px;
                    }
                }  
            }
        }
        //first level items ONLY
        >li {
            >a {
                font-weight: 400;
                font-size: 1em;
                position: relative;
                padding: 0.8em 1.5em;
            }
            >ul {
                padding-top: 1em;
                margin-bottom: 1em;
            }
            &.has-children {
                a {
                    padding-right: 60px!important;
                }
            }
        }
        //resize text as you go further down the nav tree
        ul {
            display: none;
            text-align: left;
            position: relative;
            padding: 0;
            margin: 0;
        }
        label {
            cursor: pointer;
            padding: 0;
            right: 0;
            display: inline-block;
            background: darken($gray-light, 15%);
            z-index: 9;
            width: 30px;
            height: 20px;
            position: absolute;
            top: 50%;
            margin-top: -10px;
            display: flex;
            margin-right: 15px;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            float: right;
            z-index: 99;
            //ul after label get hidden by default unless we are on a specfic page or user toggles label
            +ul {
                display: none;
            }
            &::before {
                font-family: FontAwesome;
                content: '\f107';
                color: white;
                display: block;
                position: relative;
            }
        }
        /* hide native checkbox. We will use the label to toggle checkbox */
        input[type=checkbox] {
            position: absolute;
            opacity: 0;
            &:hover, &:focus {
                +label {
                    background: darken($gray-light, 35%);
                }
            }
        }
        //push each child level further in
        //top level selected is gray with left border
        >li {
            label {
                top: 13px;
                margin-top: 0;
            }
            &.open {
                >label {
                    &::before {
                        content: '\f106 ';
                        top: -1px;
                    }
                }
            }
            &.selected {
                >label {
                    background: darken($gray-light, 25%);
                }
                >input[type=checkbox] {
                    &:focus {
                        +label {
                            background: darken($gray-light, 25%);
                        }
                    }
                }
            }
            &.current{
                >a{
                    background: $gray-light;
                    border-left: 8px solid $orange;     
                    padding: 0.8em 1.5em 0.8em 1.1em; 
                }    
            }
            &:first-of-type{
                >a{
                    padding-right: 60px;
                }
            }
        }
        //push each child level further in
        >li {
            //second child ul
            >ul {
                font-size: 0.95em;
                >li {
                    &.open {
                        >label {
                            &::before {
                                content: '\f106';
                            }
                        }
                    }
                    >label {
                        top: 10px;
                    }
                    &.selected {
                        &:before {
                            display: block;
                        }
                    }
                    a {
                        padding-left: 2.8rem;
                    }
                    //third child ul
                    >ul {
                        font-size: 0.9em;
                        >li {
                            &.open {
                                >label {
                                    &::before {
                                        content: '\f106 ';
                                    }
                                }
                            }
                            label {
                                top: 8px;
                            }
                            a { 
                                padding-left: 3.5rem;
                            }
                            //fourth child ul
                            >ul {
                                font-size: 0.85;
                                >li {
                                    a {
                                        padding-left: 4.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //shows a light gray line to indicate the selected parent with all its children
            &.open {
                position: relative;
                >a {
                    background: $gray-light;
                }
                li{  
                    &.open{
                        >a{
                            font-weight: 600;
                        }
                    }
                }
                >ul {
                    &::before {
                        content: '';
                        width: 100%;
                        background: white;
                        height: 15px;
                        position: absolute;
                        top: 0;
                        left: -1px;
                        display: block;
                        z-index: 9;
                    }
                    &::after {
                        content: '';
                        width: 1px;
                        position: absolute;
                        height: 100%;
                        left: 1.7em;
                        top: 0;
                        background: darken($border-color, 5%);
                        display: block!important;
                    }
                }
                &.selected {
                    >a {
                        background: $gray-light;
                    }
                }
                //shows the current page the user is on when they are at the children level with an orange line
                ul {
                    li {
                        &.current {
                            >a{
                                color: darken($orange, 5%);
                            }
                            &::after{
                                content: '';
                                width: 6px;
                                left: 24px;
                                height: 22px;
                                display: block;
                                position: absolute;
                                z-index: 9;
                                background: $orange;
                                top: 0;
                                margin-top: 9px;
                                border-top: 2px solid white;
                                border-bottom: 2px solid white;
                            }
                        }
                    }
                    ul{
                        li{
                            &.current{
                                &::before{
                                    margin-top: 6px;    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


#main-navigation-inner{
    #contextual {
        position: relative;
        .fa {
            font-size: 1.5em;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 0.85em;
            &:last-of-type{
                li{
                    &:last-child{
                        margin-bottom: 1em;
                    }
                }
            }
            li {
                margin: 0;
                padding: 0.5em 3rem 0.5em 1.5rem;
                &::before{
                    display: none;
                }
                a {
                    text-decoration: none;
                    display: block;
                    position: relative;
                    padding: 0;
                    &:hover{
                        &::after{
                            color: $orange;
                        }
                    }
                    &::after {
                        content: '';
                        top: 0;
                        font-family: FontAwesome;
                        text-rendering: optimizeLegibility;
                        color: darken($gray-light, 35%);
                        font-size: 14px;
                        position: absolute;
                        right: -2.1em;
                        color: darken($gray-light, 35%)!important;
                        top: 50%;
                        margin-top: -9px;
                    }
                    &[href*="calendar"],
                    &[href*="advising"],
                    &[target=_blank] {
                        &::after{
                            content: '\f08e';
                        }
                    }
                    &[href$=".doc"] {
                        &::after{
                            content: '\f1c2';
                            margin-top: -10px;
                            right: -2em;
                        }
                    }
                    &[href$=".pdf"] {
                        &::after{
                            content: '\f1c1';
                            margin-top: -10px;
                            right: -2em;
                        }
                    }
                    &[href^="mailto:"] {
                        &::after{
                            content: '\f003';
                        }
                    }
                }
            }
        }
    }
}

//only used on web standards document. Not on any websites
.web-standards #sidebar-nav .au-accordion-menu > li > a{
    padding: 0.7em 1.5em;
}
