/////////////////////////////////////////
////// Display Defaults  ////////////////
/////////////////////////////////////////
::-moz-selection {
    background: $gray-light;
    text-shadow: none;
}

::selection {
    background: $gray-light;
    text-shadow: none;
}

body {
    @include sans;
    font-size: 100%;
    background: #FFFFFF;
    color: $text-color;
    overflow-x: hidden;
}

.vertical-align{
    @include vertical-align();
}

a,
a:link,
a:visited {
    color: $blue;
    text-decoration: underline;
}

a:focus,
a:active,
a:hover {
    color: $orange;
    text-decoration: underline;
    outline: none;
}

#main{
    p, ul, ol{
        line-height: 1.55em;
    }
}

.missing{
    background: yellow;
    display: inline!important;
}

hr{
    border: 0;
    height: 1px;
    background: $border-color;
    margin: 2.5em 0 2.3em;
    +h2{
        margin-top: -0.4em;    
    }
    &.spacer{
        background: transparent;
    }
}

/* Code examples powered by Github */
.gist{
    margin-top: 2em;
}

//////////////////////////////////////////////
//          utility classes                 //
//////////////////////////////////////////////
.hide,
#skipToContent a {
    position: absolute!important;
    left: -10000px!important;
    top: auto!important;
    width: 1px!important;
    height: 1px!important;
    overflow: hidden!important;
}

iframe {
    width: 100%;
}

.float {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

.indent{
    padding-left: 1em;
    @media (min-width: $screen-sm-min) {
        padding-left: 2em;    
    }
}

//// skip to content, for accessibility
#skipToContent {
    float: left;
}

#skipToContent a:focus {
    background: #FFFFFF;
    z-index: 9999999999;
    position: absolute;
    padding: 0.5em;
    border: 2px solid $blue;
    left: 0.5em;
    top: 0.5em;
    width: auto;
    height: auto;
}

.svg-img{
    img{
        width: 100%;
        height: auto;
    }
}