.screenreader {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute !important;
}


/* apply a natural box layout model to all elements */

* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear{
    @extend .clearfix;
}

.hidden{
    display: none;
}

.fixed-nav-offset {
    margin-top: -160px;
    padding-top: 160px;
    display: block;
}

hr{
    +.fixed-nav-offset{
        padding-top: 110px;
    }
}

.hidden-inline-xs {
    display: none;
    @media (min-width: $screen-xs-min) {
        display: inline;
    }
}

.text-center {
    text-align: center;
    .btn {
        display: inline-block;
    }
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: left;
}

img {
    max-width: 100%;
}

.bordered {
    border: 1px solid $border-color;
}

/**
* #.# Hide Element Helpers
*/

.hidden-xs{
    @media (min-width: $screen-xs-min) {
        display: none;
    }
    @media (min-width: $screen-sm-min) {
        display: flex;
    }
}

.hidden-sm{
    @media (min-width: $screen-sm-min) {
        display: none;
    }
    @media (min-width: $screen-sm-min) {
        display: flex;
    }
}

.hidden-md{
    @media (min-width: $screen-md-min) {
        display: none;
    }
    @media (min-width: $screen-md-min) {
        display: flex;
    }
}

/**
* #.# Spacing Helpers
*/

.zero-all{
    margin: 0!important;
    padding: 0!important;
}

.zero-top {
    margin-top: 0!important;
    padding-top: 0!important;
}

.zero-top-sm {
    @media (min-width: $screen-sm-min) {
        margin-top: 0!important;
        padding-top: 0!important;
    }
}

.zero-top-md {
    @media (min-width: $screen-md-min) {
        margin-top: 0!important;
        padding-top: 0!important;
    }
}

.zero-bottom {
    margin-bottom: 0!important;
    padding-bottom: 0!important;
}

.zero-margin {
    margin: 0!important;
}

.zero-padding {
    padding: 0!important;
}

.zero-top-padding {
    padding-top: 0!important;
}

.zero-bottom-padding {
    padding-bottom: 0!important;
}

.zero-bottom-margin {
    margin-bottom: 0!important;
}

.zero-top-margin {
    margin-top: 0!important;
}


/**
* #.# Margin Help Classes
*
* Overrides any margin on a current element as needed
*/


/* Margin Top */
.mt-1 {
    margin-top: 1em!important;
}

.mt-2 {
    margin-top: 2em!important;
}

.mt-3 {
    margin-top: 3em!important;
}

.mt-4 {
    margin-top: 4em!important;
}

.mt-half {
    margin-top: 0.5em!important;
}

.mt-third {
    margin-top: 0.33333em!important;
}

/* Margin Bottom */
.mb-1 {
    margin-bottom: 1em!important;
}

.mb-2 {
    margin-bottom: 2em!important;
}

.mb-3 {
    margin-bottom: 3em!important;
}

.mb-4 {
    margin-bottom: 4em!important;
}

.mb-half {
    margin-bottom: 0.5em!important;
}

.mb-third {
    margin-bottom: 0.33333em!important;
}

/* Margin Left */
.ml-1 {
    margin-left: 1em!important;
}

.ml-2 {
    margin-left: 2em!important;
}

.ml-3 {
    margin-left: 3em!important;
}

.ml-4 {
    margin-left: 4em!important;
}

.ml-half {
    margin-left: 0.5em!important;
}

.ml-third {
    margin-left: 0.33333em!important;
}

/* Margin Right */
.mr-1 {
    margin-left: 1em!important;
}

.mr-2 {
    margin-left: 2em!important;
}

.mr-3 {
    margin-left: 3em!important;
}

.mr-4 {
    margin-left: 4em!important;
}

.mr-half {
    margin-left: 0.5em!important;
}

.mr-third {
    margin-left: 0.33333em!important;
}


/**
* #.# Padding Helper Classes
*
* Overrides any padding on a current element as needed
*/


/* Padding Top */
.pt-1 {
    padding-top: 1em!important;
}

.pt-2 {
    padding-top: 2em!important;
}

.pt-3 {
    padding-top: 3em!important;
}

.pt-4 {
    padding-top: 4em!important;
}

.pt-half {
    padding-top: 0.5em!important;
}
 
.pt-third {
    padding-top: 0.33333em!important;
}


/* Padding Bottom */
.pb-1 {
    padding-bottom: 1em!important;
}

.pb-2 {
    padding-bottom: 2em!important;
}

.pb-3 {
    padding-bottom: 3em!important;
}

.pb-4 {
    padding-bottom: 4em!important;
}

.pt-half {
    padding-bottom: 0.5em!important;
}

.pt-third {
    padding-bottom: 0.33333em!important;
}

/* Padding Left */
.pl-1 {
    padding-left: 1em!important;
}

.pl-2 {
    padding-left: 2em!important;
}

.pl-3 {
    padding-left: 3em!important;
}

.pl-4 {
    padding-left: 4em!important;
}

.pl-half {
    padding-left: 0.5em!important;
}

.pl-third {
    padding-left: 0.33333em!important;
}

/* Padding Right */
.pr-1 {
    padding-left: 1em!important;
}

.pr-2 {
    padding-left: 2em!important;
}

.pr-3 {
    padding-left: 3em!important;
}

.pr-4 {
    padding-left: 4em!important;
}

.pr-half {
    padding-left: 0.5em!important;
}

.pr-third {
    padding-left: 0.33333em!important;
}