#main-content{
    .no-cred{
        font-size: 1.7em;
        text-align: center;
    }
    .btn{
        + [class*="callout-"], + [class*="content-blurb-"]{
            margin-top: .625em;
        }
    }
    #updated{
        font-size: 0.8em;
        font-style: italic;
    }
    /* For pictures with captions */
    figure{
        max-width: 100%;
        display: block;
        @media (min-width: $screen-xs-min) {
            max-width: 300px;    
        }
        img{
            width: 100%;
        }
        &.img-left{
            margin: 1.5em 1.5em 1.5em 0;  
        }
        &.img-right{
            float: none;
            @media (min-width: $screen-sm-min) {
                float:right;   
                margin: 1.5em 0 1.5em 1.5em; 
            }
        } 
        figcaption{
            text-align: center;
            font-size: smaller;
            font-style: italic;
            position: relative;
            top: 0.5em;
        }
    }
 
    /* For pictures with no captions */
    .img-left, .img-right{
        max-width: 100%;
        float: none;
        display: block;
        margin: 1em 0;
        @media (min-width: $screen-xs-min) {
            max-width: 275px;  
        }
    }
    
    .img-left{ 
        @media (min-width: $screen-sm-min) {
            float:left;    
            margin: 1.5em 1.5em 1.5em 0; 
        }
    }
    
    .img-right{
        @media (min-width: $screen-sm-min) {
            float:right;   
            margin: 1.5em 0 1.5em 1.5em;  
        }
    }
    
    /**
    * #.# Jump navigation with icons
    */
    #section-jump-nav{
        padding: 1em 0 0;
        ul{
            padding: 0;
            margin: 0;
            @extend .clearfix;
            li{
                background: none; 
                text-align: center;
                width: 50%;
                padding: 0;
                clear: none;
                float: left;
                @media (min-width: $screen-xs-min) {
                    width: 33.3333333%;      
                } 
                @media (min-width: $screen-lg-min) {
                    width: 25%;    
                }
                &::before{
                    display: none;
                }
                a{
                    list-style: none;   
                    display: block;
                    text-decoration: none;
                    padding: 1.3em 1em;
                    font-weight: 600;
                    font-size: .85em;
                    line-height: 1.3em;
                    position: relative;
                    height: 100%;
                    @media (min-width: $screen-xs-min) {
                        font-size: .95em;     
                    }
                }
                svg{
                    width: 70px;
                    height: 70px;
                    display: block;
                    margin: 0 auto .625em;
                    @media (min-width: $screen-lg-min) {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}

.content-container{
    .qa-item{
        margin-bottom: 2em;
    }
}

/**
* #.# "Did you know" blurb
*/
[class*="content-blurb-"]{
    position: relative;
    padding: 1.25em 0 1.56em 2.8125em;
    margin: 2.5em 0;
    font-size: .8em;
    @media (min-width: $screen-md-min) {
        font-size: 1em;   
    }
    &::before{
        content: '';
        width: 8px;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: $blue;
    }
    h4{
        margin: 0 0 10px;
        font-size: 1.6em;
        strong{
            font-weight: inherit;
        }
    }
    p{
        margin: 0;
        font-size: 1.4em!important;
    }
}
