$susy: (
    columns: 12,
    gutters: 1,
    global-box-sizing: border-box,
);

/**
* #.# General grid
*
* Used through out template
*/


.row {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.row-eq-height {
    display: flex;
}

//default width
.container, #main-content{
    max-width: 62.5em;
    margin: auto;
}

.container-wide{
    max-width: 80em;
    margin: auto;
}

.container-wider{
    max-width: 90em;
    margin: auto;
}

/**
* #.# Fixed width columns
*
*/
.col-fixed-80{
    flex: 0 0 80px;    
}

//used where a container is needed like a landing page
.container, .container-wide, .container-wider{
    padding-left: 1em;
    padding-right: 1em;
    @media (min-width: $screen-sm-min) {
        padding-left: 3em;
        padding-right: 3em;        
    }
}

//used in default content pages
#main-content{
    padding: 1.5em 1em 3em;
    @media (min-width: $screen-sm-min) {
        padding: 2.5em 3em 5em;   
        min-height: 45vh; 
    }
}

.landing{
    padding: 0 0 3em;
    @media (min-width: $screen-sm-min) {
        padding: 0 0 4em;    
    }    
}

//program and course listings. Lets increase the width a bit from our standard container
#cp-listing{
    @media (min-width: $screen-md-min) {
        padding-left: 2em;
        padding-right: 2em;    
    }
}

//can be seen on the admission page. A content block is slighlty overlay on top of image
.overlap-row{
    position: relative;
    &.content-right{
        .overlap-content{
            float: right;
            margin: 0;
            @media (min-width: $screen-md-min) {
                margin: -15% 3em 0;
            }
        } 
    }
    &.content-left{
        .overlap-content{
            float: left;
            margin: 0;
            @media (min-width: $screen-md-min) {
                margin: -15% 0 0 3em;
            }
        }
    }
    h2{
        margin: 0 0 0.3em;
        svg.icon{
            width: 45px;
            height: 45px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .overlap-bg{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        padding-bottom: 50%;  
        width: 100%;
    }
    .overlap-content{
        background: white;
        width: auto;
        padding: 1.3em 0 0;
        border-top: 5px solid $orange;
        position: relative;
        @media (min-width: $screen-sm-min) {
            padding: 1.3em 0 2.5em;    
        }
        svg{
            width: 60px;
            height: 60px;
            position: absolute;
            top: 1.5em;
            @media (min-width: $screen-sm-min) {
                width: 90px;
                height: 90px;                
            }
        }
        @media (min-width: $screen-md-min) {
            width: 50%;    
            padding: 1.3em 2.5em 2.5em;
        }
        .col{
            padding-left: 80px;
            @media (min-width: $screen-sm-min) {
                padding-left: 120px;   
            }
        }
        p{
            margin-top: 0;
            font-size: 1em;
            @media (min-width: $screen-sm-min) {
                font-size: 1.1em;     
            }
        }
        .row{
            flex-flow: column;
            @media (min-width: $screen-xs-min) { 
                flex-flow: row;    
            }
        }
    }

}

//used with background images that have a large amount of whitespace to the left or right. Can be seen on Discover AU
.z-row-bg-left,
.z-row-bg-right {
    max-width: 1920px;
    margin: auto;
    position: relative;
    .page {
        @media (min-width: $screen-sm-min){
            padding-left: 2em;
            padding-right: 2em;
        }
    }
    .z-row-bg-img {
        position: relative;
        width: calc(100% + 4em);
        left: -2em;
        padding-bottom: 65%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -2em;
        @media (min-width: $screen-xs-min){
            margin-top: -3.5em;    
        }
        @media (min-width: $screen-sm-min){
            margin-top: 0;    
        }
        @media (min-width: $screen-sm-min) {
            width: 100%;
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            background-size: cover;
        }
    }
    .z-row-heading{
        display: flex;
        flex-direction: column;
    }
    .z-row-content {
        padding: 3em 0 0;
        width: 100%;
        position: relative;
        z-index: 9;
        @media (min-width: $screen-sm-min) {
            width: 50%;
            padding: 15% 0 30%;
        }
        a {
            text-decoration: none;
            display: block;
            p {
                color: $text-color;
                line-height: 1.5em;
                @media (min-width: $screen-xs-min) {
                    font-size: 1.1em;                    
                }
            }
        }
        h2 {
            margin-top: 0;
            @media (max-width: $screen-sm-max) {
                font-size: 1.8em;               
            }
        }
        svg {
            width: 55px;
            height: 55px;
            margin-left: -4px;
            @media (min-width: $screen-sm-min) {
                width: 90px;
                height: 90px;    
                margin-left: -7px;
            }
        }
    }
}

.z-row-bg-left {
    .z-row-bg-img {
        background-position: 30% bottom;
        @media (max-width: $screen-xs-max) {
            transform: scaleX(-1);
        }
        @media (min-width: $screen-xxl-min) {
            background-position: left bottom;       
        }
    }
    .z-row-content {
        @media (min-width: $screen-sm-min) {
            float: right;
        }
    }
}

.z-row-bg-right {
    .z-row-bg-img {
        background-position: 80% bottom;
        @media (min-width: $screen-xxl-min) {
            background-position: right bottom;
        }
    }
    .z-row-content {
        @media (min-width: $screen-sm-min) {
            float: left;
        }
    }
} 