/**
* #.# General grid
*
* Used through out subsite template
*/
 
.grid-example [class*="col"] div{
    background-color: $gray-light;
    padding: 1em;
}

.row{
    margin-bottom: 1em;
} 

.content-container{
    position: relative;
}

#main-content {
    max-width: 60em;
    padding: 2em 1.5em;
    min-height: 50vh;
    margin: auto;
    @media (min-width: $screen-sm-min) {
        padding: 3em 2em 4em;    
    }
}

.content-container{
    transition: 0.3s ease-in;
    padding: 0;
    @media (min-width: $screen-sm-min) {
        padding-left: 250px;    
    }
    @media (min-width: $screen-md-min) {
        padding-left: 300px;    
    }  
}
