/**
* #.# Subsite header styles
*
* Unique header styles for subsites ONLY. Default header styles are in mainsite/layout/header.scss
*/

#main-header{
    #au-logo{
        margin-right: 0;
    }
}
.nav-panel{
    &#au-site-nav-panel{
        padding-bottom: 55px;
        height: 100%;
        nav{
            height: auto;
            ul{
                list-style: none;
                padding: 0;
                a{
                    text-decoration: none;
                    display: block;
                    width: 100%;
                }
            }
        }
        #main-navigation-inner{
            height: 100%;
            overflow: auto;
            text-align: left;
            padding: 1.3em 1em;
            nav{
                height: auto;
            } 
        }
        .btn-mobile-menu{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 9;
            display: block;
            @media (min-width: $screen-sm-min) {
                display: none;
            }
            .fa-external-link{
                display: inline-block;
                margin-top: 0;
            }
        }
        //apply now mobile menu call to action
        .btn-mobile-menu{
            display: block;
            border-radius: 0;
            @media (min-width: $screen-sm-min) {
                display: none;
            }
        }
    }
}

#header-site-id{
    width: 100%;
    flex-shrink: 1;
    background: $blue;
    padding: 0 1em 0.5em;
    padding: 3em 1em 1em;
    margin-top: -3em;
    display: none;
    transition: all .1s ease-in;
    text-align: center;
    @media (min-width: $screen-sm-min) {
        padding: 0 0 0 2.5em;  
        opacity: 1;
        margin: 0;
        display: block;
        text-align: left;
    }
    &.change-font-weight{
        h2{
            font-weight: 400;
        }
    }
    h2, h3, h4{ 
        margin: 0;
        color: white;
        font-size: 1em;
        font-weight: 400;
        position: relative;
        line-height: 1.5em;
        span{
            @media (min-width: $screen-sm-min) {
                font-size: 0.9em;
                display: block;
                font-weight: 400;
                margin: 0.2em 0;
                line-height: 1em;
            }
        }
    }
    h2{
        font-weight: 600;
        strong{
            font-weight: 700;
        }
    }
    h3{
        font-size: 0.85em;
    }
    div{
        padding: 0;
        display: flex;
        background: $blue;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        font-size: 0.85em;
        margin: auto;
        margin: 0;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            display: none;
            height: 100%;
            width: 1px;
            left: -22px;
            top: 2px;
            background: white;
            height: 50px;
            opacity: 0.2;
            top: 50%;
            margin-top: -25px;
            @media (min-width: $screen-sm-min) {
                display: block;    
            }
        }
        @media (min-width: $screen-xs-min) {
            font-size: 0.85em;  
        }
        @media (min-width: $screen-sm-min) {
            height: 100%; 
            align-items: flex-start;
        }
        @media (min-width: $screen-md-min) {
            font-size: 1em;   
        }
    }
}

#au-right-nav{
    @media (min-width: $screen-sm-min) {
        margin-left: 1em;
        width: auto;
        flex-shrink: 0;
    }
}
#main-header{
    &.sticky{
        #header-site-id{
            padding-left: 0.8em;
            position: relative;
            top: -2px;
            font-size: 0.95em;
            h2{
                &:before{
                    display: none;
                }
            }
        }
    }
}

#au-right-nav {
    #mobile-menu-trigger{
        @media (min-width: $screen-sm-min) {
            display: none;
        }    
    }    
}